@font-face {
  font-family: 'Gotham Bold';
  src: url("/assets/fonts/Gotham-Bold.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Book';
  src: url("/assets/fonts/Gotham-Book.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Light';
  src: url("/assets/fonts/GothamLight.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url("/assets/fonts/Gotham-Medium.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}
