<section class="itineraire">
  <div>
    <h1 class="itineraire__titre">Casino de La Rochelle</h1>
    <p><img src="/assets/icons/liked.png" alt=""> 4/5</p>
  </div>
  <h2>Trajet proposé par <span>Jean Laurent</span></h2>
  <a href="#" class="itineraire__bouton">Choisir ce parcours</a>
  <article>
    <h2>Description</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut commodi consequuntur dolores eaque maxime modi, possimus praesentium recusandae totam! Aspernatur consequatur dicta dolor error laudantium minus officiis quam ratione rem.</p>
  </article>
</section>
