.bateau-vignette {
  &__image {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 10px;
  }

  &__description {
    font-family: 'Gotham Bold', sans-serif;
    color: white;
  }
}
