<section class="recap">
<section class="recap__contenu">
  <h1 class="recap__title"><strong class="recap__title--strong">Récap de</strong>votre résérvation</h1>
</section>
<article class="informations">
  <h2 class="information__title">Nom du bateau :</h2>
  <p class="information">Voilier</p>
  <h2 class="information__title">Prix par heure :</h2>
  <p class="information">130/h</p>
  <h2 class="information__title">Nombre d'heures choisis</h2>
  <p class="information">2h</p>
  <h2 class="information__title">Services sélctionnés :</h2>
  <div class="supplement">
    <p class="supplement__title">Repas</p>
    <img src="/assets/img/picto-cuisine.svg" alt="Repas de la mort qui tue (deso mais il est tard)">
  </div>
  <div class="total">
    <h2 class="total__title">Total à payer :</h2>
    <p class="total__strong">800€</p>
  </div>
  <a href="#" class="button">Payer</a>
</article>
</section>
